* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: rgb(140, 140, 140);
}
h4 {
    font-size: 15px;
    font-weight: 700;
    padding: 5px 0px;
    color: white;
}

i {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.button {
    margin: 10px;
    padding: 0.8em;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    width: calc(100vw - 250px);
    height: calc(100vh - 180px);
    background-color: rgb(36, 44, 53);
    position: absolute;
    top: 80px;
    right: 0;
    overflow-y: auto;
}

.sidebar {
    width: 250px;
    height: calc(100vh - 100px);
    background-color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
    position: relative;

}

#logo {
    width: 150px;
    height: auto;
    margin: 15px;
}

.sidenav {
    width: 100%;
}

.sidenav img {
    width: 30px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
    filter: opacity(50%);
}

.sidenav-buttons {
    display: block;
    width: 100%;
    padding: 10px 12px;
    border-left: 3px solid black;
}

.sidenav-buttons:hover {
    border-left: greenyellow solid 3px;
    filter: none;
    color: white;
}

.playlistnav {
    width: 100%;
    padding: 15px;
    overflow-y: auto;
}

.playlistnav-buttons {
    display: block;
    width: 100%;
    padding: 10px 0px;
}

.playlistnav-buttons:hover {
    color: white;
}

.bottomnav {
    width: 100%;
    padding: 15px;
    display: block;
    background-color: rgba(0, 0, 0, 0.663);
    position: absolute;
    bottom: 0;
}

#userimg{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 100%;
    background-color: rgb(36, 44, 53);
    vertical-align: middle;
}

.user {
    border-top: 2px solid rgb(140, 140, 140);
    padding-top: 10px;
    margin-top: 5px;
    color: white;
    font-weight: 700;
}

.banner {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    width: calc(100vw - 250px);
    height: 80px;
    background-color: rgb(25, 25, 25);
    position: absolute;
    right: 0;
    font-size: 12px;
    font-weight: 700;
}

.playbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgb(50, 50, 50);
}

#nowplaying {
    display: flex;
    align-items: center;    
}

#nowplaying img {
    width: 30%;
    height: auto;
    max-width: 50px;
    max-height: 50px;
}

#nowplaying-info {
    padding: 10px;  
}

#nowplaying-name {
    font-size: 14px;
    font-weight: 700;
    color: white;
}

#nowplaying-artist {
    font-size: 10px;
    font-weight: 700;
}

#nowplaying-action {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

#playcontrols {
    justify-self: center;
    max-width: 450px;
    width: 100%;
    height: 65px;
    background-color: beige;
}

#othercontrols {
    width: 100%;
    height: 65px;
    max-width: 100px;
    background-color: bisque;
}
@media screen and (max-width: 552px){

.sidebar {
    width: 50px;
}

.container {
    width: calc(100vw - 50px);
}

.banner {
    width: calc(100vw - 50px);
}

}
